.dropdown-container {
  position: relative;
  font-family: Arial, sans-serif;
}

.selected-value {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  min-width: 105px;
  height: 30px;
  .chevron {
    margin-left: 8px;
    display: flex;
  }
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 9999;
  
  & .option {
    padding: 6px 10px;
    cursor: pointer;

    &:hover {
      background-color: #E22E60;
	  color: #fff;
    }
  }
}
