.month-grid {
	width: 100%;
    margin: 8px 0;
    padding: 10px 15px;

	.month-title {
		display: flex;
		margin: 0 0 10px;
		* {
			font-size: 14px;
			line-height: 20px;
			color: #6E1588;
			font-weight: 600;
			display: inline-block;
			cursor: pointer;
			padding: 0 4px;
		}
	}

	.days-grid {
		.weekdays {
			display: flex;
			flex-wrap: wrap;
			.weekday {
				font-size: 14px;
				line-height: 24px;
				color: #6E0D88;
				font-weight: 500;
				justify-content: center;
				background-color: #fff;
				display: flex;
				width: calc(100%/7);
				border-left: 1px solid #eaeaea;
				border-top: 1px solid #eaeaea;
				padding: 10px;
			}
		}

		.week-row {
			display: flex;
			flex-wrap: wrap;
			.day {
				min-height: calc(85vh/5);
				padding: 35px 0px;
				flex-wrap: wrap;
				align-content: flex-start;
				justify-content: center;
				position: relative;
				background-color: #fff;
				display: flex;
				width: calc(100%/7);
				border-left: 1px solid #eaeaea;
				border-top: 1px solid #eaeaea;
				padding: 10px;
			}
		}

	}

	&.small-grid {
		width: calc(90vw/4);;

		.days-grid {
			.weekday {
				min-height: 30px;
				border: none;
			}
		}

		.week-row {
			.day {
				min-height: 30px;
				border: none;
			}
		}
	}
}