// Ellipsis animation

@keyframes ellipsis{
	0%{
		opacity:0;
	}
	25%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

.ui-state{
	display:flex; flex-direction:column; align-items:center; gap:32px;
	width:100%; max-width:500px; margin:0 auto;

	> .content{
		flex-grow:1;
		text-align:center;

		// applies to .title, .detail, direct child
		> p:not([class]){
			font-size:14px; line-height:1.5;
			&:not(:last-child){
				margin-bottom:16px;
			}
		}

		> ul{
			list-style-type:disc;

			&:not(:last-child){
				margin-bottom:16px;
			}
			li{
				font-size:14px; line-height:1.5;
				margin-left:24px;
			}
		}

		p > a:not([class]), p > button:not([class]){
			margin:0; padding:0;
			font-family:var(--font-family); font-size:inherit; color:var(--accent); text-decoration:underline;
			border:none; background:none;

			&:hover, &:active, &:focus{
				text-decoration:none;
			}
		}

		strong{
			font-weight:600;
		}
	}

	
	&.loading{
		span{
			position:relative;
			display:inline-block;
			animation:ellipsis 1.4s infinite; animation-fill-mode:both;
			opacity:0;

			&:nth-child(2){
				animation-delay:.2s;
			}
			&:nth-child(3){
				animation-delay:.4s;
			}
		}
	}
}