    .hour-slot {
    	flex-grow      : 1;
    	width          : 100%;
    	border         : 1px solid #ccc;
    	display        : flex;
    	flex-direction : column;
    	justify-content: space-around;

    	.slot-partition {
    		display        : flex;
    		height         : calc(100%/4);
    		justify-content: center;
    		align-items    : center;

    		&:hover {
    			cursor          : pointer;
    			background-color: lightgray;
    		}
    	}

    	&-unavailable {
    		flex-grow       : 1;
    		width           : 100%;
    		border          : 1px solid #ccc;
    		display         : flex;
    		flex-direction  : column;
    		justify-content : space-around;
    		background-color: #fdebeb;
    		align-items     : center;
    		padding         : 0 10px;
    		font-size       : 12px;
    		font-weight     : 500;
    		color           : #6F706F;
    		cursor          : not-allowed;
    		pointer-events  : none;
    	}
    }

    .modal {
    	position        : absolute;
    	background-color: white;
    	border          : 1px solid #ccc;
    	border-radius   : 20px;
    	z-index         : 1000;
    	box-shadow      : 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .event-container {
    	display        : flex;
    	overflow-y     : auto;
    	justify-content: center;
    	align-items    : center;
    	flex-wrap      : wrap;
    	height         : 100%;
    	width          : 100%;

    	.event {
    		width          : 100%;
    		display        : flex;
    		align-items    : center;
    		justify-content: center;
    		font-size      : 13px;
    		line-height    : 20px;
    		font-weight    : 500;
    		text-align     : center;
    		color          : #fff;
    		letter-spacing : -0.18px;
    		padding        : 2px 5px;

    		@for $i from 0 to 10 {
    			&:nth-child(#{$i}) {
    				background-color: rgb(random(255), random(255), random(255));
    			}
    		}
    	}
    }
