@import "./sass-helpers/_font.scss";
@import "./sass-helpers/_variables.scss";

#dropdown-portal-root {
  position: relative;
}


hr {
	color: #eaeaea;
}

.App {
	padding: 40px;
	background-color: $background-color_1;
}
